@import 'variables';

.footer {
    width: 100%;
    background-color: black;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    .conclusion {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 10px;
        gap: 10px;

        h1 {
            font-family: $mainFontFamily;
            color: white;
            font-size: 30px;
        }

        h2 {
            font-family: $mainFontFamily;
            color: $darkGrey;
            font-size: 18px;
        }

        .bold {
            font-family: $mainFontFamily;
            color: white;
            font-size: 18px;
            font-weight: bold;
        }

        .social_links {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            &_item {
                cursor: pointer;
                height: 50px;
                width: 50px;
            }
        }
    }

    .getintouch {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 10px;
        gap: 10px;

        h1 {
            font-family: $mainFontFamily;
            color: white;
            font-size: 30px;
        }

        h2 {
            font-family: $mainFontFamily;
            color: $darkGrey;
            font-size: 18px;
        }

        h4 {
            font-family: $mainFontFamily;
            color: white;
            font-size: 18px;
            font-weight: normal;
        }
    }

    .quicklinks {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 10px;
        gap: 10px;

        h1 {
            font-size: 30px;
            color: white;
            font-family: $mainFontFamily;
        }

        .links {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            padding: 10px;
            gap: 10px;

            a {
                color: white;
                font-family: $mainFontFamily;
                text-decoration: none;
            }
        }
    }
}

@include mobile {
    .footer {
        height: auto;
        width: 100%;
        background-color: black;
        display: flex;
        gap: 20px;
        flex-direction: column;

        .conclusion {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            padding: 10px;
            gap: 10px;

            h1 {
                font-family: $mainFontFamily;
                color: white;
                font-size: 48px;
            }

            h2 {
                font-family: $mainFontFamily;
                color: $darkGrey;
                font-size: 18px;
            }

            .bold {
                font-family: $mainFontFamily;
                color: white;
                font-size: 18px;
                font-weight: bold;
            }

            .social_links {
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                &_item {
                    cursor: pointer;
                    height: 50px;
                    width: 50px;
                }
            }
        }

        .getintouch {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            padding: 10px;
            gap: 10px;

            h1 {
                font-family: $mainFontFamily;
                color: white;
                font-size: 30px;
            }

            h2 {
                font-family: $mainFontFamily;
                color: $darkGrey;
                font-size: 18px;
            }

            h4 {
                font-family: $mainFontFamily;
                color: white;
                font-size: 18px;
                font-weight: normal;
            }
        }

        .quicklinks {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            padding: 10px;
            gap: 10px;

            h1 {
                color: white;
                font-family: $mainFontFamily;
            }

            .links {
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                padding: 10px;
                gap: 10px;

                a {
                    color: white;
                    font-family: $mainFontFamily;
                    text-decoration: none;
                }
            }
        }
    }
}