@import 'variables';

.itemWrapper {
    height: 100%;
    display: grid;
    margin-top: 10px;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    font-family: $mainFontFamily;


}

@include mobile {
    .itemWrapper {
        height: 100%;
        display: grid;
        margin-top: 10px;
        column-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        font-family: $mainFontFamily;

    }
}