@import 'variables';

.login {
    width: 100vw;
    height: 100vh;

    .navbar {
        cursor: pointer;
        width: 50px;
        height: 50px;
        position: fixed;
        left: 20px;
        top: 20px;
        display: flex;
        border-radius: 10px;
        font-family: $mainFontFamily;
        font-size: $mediumFontSize;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: $white;

        &:hover {
            transform: scale(1.1);
            transition: 0.5s ease-in;
            background-color: $primaryColor;
        }
    }

    .flex {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        .left {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .message {
                visibility: hidden;
                background-color: $errorColor;
                color: $white;
                text-align: center;
                font-family: $mainFontFamily;
                height: 50px;
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                &::before {
                    content: "";
                    width: 0%;
                    height: 100%;
                    z-index: -1;
                    position: absolute;
                    background-color: $primaryColor;
                    animation: in-cognito infinite 3s ease;
                }

                @keyframes in-cognito {

                    0%,
                    10%,
                    100% {
                        width: 0%;
                    }

                    70%,
                    90% {
                        width: 100%;
                    }
                }

                .x {
                    position: absolute;
                    right: 10px;
                    font-family: $mainFontFamily;
                    cursor: pointer;
                }
            }

            h1 {
                font-family: 'Agency FB';
                color: black;
                font-size: $largestFontSize;
            }

            h4 {
                font-family: $mainFontFamily;
                color: $darkGrey;
                font-size: $smallFontSize;
                margin-bottom: 30px;
            }

            form {
                width: 70%;
                display: flex;
                flex-direction: column;


                input {
                    outline: none;
                    height: 20px;
                    border-radius: 10px;
                    border: $lightGrey 1px solid;
                    margin: 10px;
                    padding: 10px;
                    color: black;
                    font-family: $mainFontFamily;
                    font-size: $smallFontSize;

                    &::placeholder {
                        color: $darkGrey;
                    }

                    &:hover {
                        transform: scaleX(1.1);
                        transition: 0.1s ease-in;
                    }
                }

                input[type="submit"] {
                    cursor: pointer;
                    background-color: black;
                    color: $white;
                    height: 40px !important;

                    &:hover {
                        background-color: $primaryColor;
                        transition: 1s ease-in-out;
                    }
                }
            }

            p {
                cursor: pointer;
                color: $primaryColor;
                font-family: $mainFontFamily;
                font-size: $smallFontSize;
                text-align: center;

                span {
                    text-decoration: underline;
                    color: black;

                }
            }


        }

        .right {
            background-image: url("/public/images/signup.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 50%;
        }
    }
}