@import 'variables';

.productsview {
    width: 100vw;
    display: flex;
    flex-direction: column;


    .searchBar {
        height: 50px;
        @include flex-row;
        margin-top: 70px;
        justify-content: center;

        .searchBarBar {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            .search {
                height: 40px;
                width: 250px;
                border: none;
                border: 1px solid $lightGrey;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
                padding: 10px;
                outline: none;
                font-size: $smallFontSize;
                font-family: $mainFontFamily;
            }

            .searchButton {
                cursor: pointer;
                height: 40px;
                padding: 10px;
                background-color: black;
                color: $white;
                font-size: $smallFontSize;
                font-family: $mainFontFamily;
                border: none;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;

                &:hover {
                    background-color: $primaryColor;
                    color: $white;
                }
            }
        }
    }

}

@include mobile {
    .productsview {
        width: 100vw;
        display: flex;
        flex-direction: column;


        .searchBar {
            height: 50px;
            @include flex-row;
            margin-top: 70px;
            justify-content: center;

            .searchBarBar {
                margin-top: 20px;
                display: flex;
                flex-direction: row;

                .search {
                    height: 40px;
                    width: 250px;
                    border: none;
                    border: 1px solid $lightGrey;
                    border-bottom-left-radius: 10px;
                    border-top-left-radius: 10px;
                    padding: 10px;
                    outline: none;
                    font-size: $smallFontSize;
                    font-family: $mainFontFamily;
                }

                .searchButton {
                    cursor: pointer;
                    height: 40px;
                    padding: 10px;
                    background-color: black;
                    color: $white;
                    font-size: $smallFontSize;
                    font-family: $mainFontFamily;
                    border: none;
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;

                    &:hover {
                        background-color: $primaryColor;
                        color: $white;
                    }
                }
            }
        }
    }
}