//Font Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/calibri-light');


// Colours
$primaryColor: #00c91b;
$lightPrimaryColor: #00eb1f;
$errorColor: #b80202bd;
$white: #ffffff;
$darkGrey: #7c7c7c;
$lightGrey: #c4c4c4;

// Fonts
$largestFontSize: 48px;
$largeFontSize: 32px;
$mediumFontSize: 28px;
$smallFontSize: 16px;
$smallestFontSize: 11px;
$mainFontFamily: 'Calibri-light';
$secondaryFontFamily: 'Poppins';


// Measurements
$normalMargin: 10px;
$normalPadding: 10px;

// Mixins
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

// Re-Usable Animations
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@mixin hoverAnim {
    transform: scale(1.1);
    background-color: $primaryColor;
    transition: 0.5s;
}